.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #d2691e;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color:  #ffe4c4;
}

p {
  font-size: 2rem;
  color:  #ffe4c4;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

center {
  margin-top: 5%;
  color: #ffe4c4;
  font-size: 2rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
